<div class="container pb-4">
	<h2 class="mt-4">Editar Descrição do Sistema</h2>
	<hr class="divider">

	<div class="card-body">
		<%= render partial: "form", locals: { aux: admins_abouts_path } %>
  </div>

	<%= link_to 'voltar', admins_abouts_path %>
</div>