<p id="notice"><%= notice %></p>
<div class='container attendace-request'>
	<div class='row'>
		<div class='col-12'>
		<% if  current_user.has_role? :student %>
			<h2>Para entrar na fila de espera: </h2>

			<ul>
				<li>Preenchimento Formulário de Requisição de atedimento</li>
				<li>Verificar disponibilidade de antedimento do coordenador</li>
				<li>Verificar se o atendimento necessitado está listado nos tipo de requisições</li>
			</ul>

				</div>
			</div>
			<%= render 'attendance_requests/list_student', attendance_request: @attendance_request %>
		<% elsif  current_user.has_role? :coordinator %>
			<%= render 'attendance_requests/list_coordinator', attendance_request: @attendance_request %>
		<% end %>
</div>