<div class="container pb-4">
  <h2 class="mt-4">Estudantes</h2>
  <hr class="divider">

  <div class="card">
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Email</th>
            <th colspan="2"></th>
          </tr>
        </thead>

        <tbody>
          <% unless @students.nil? %>
            <% @students.each do |student| %>
              <tr>
                <td>
                  <%= student.name %>
                </td>

                <td>
                  <%= student.email %>
                </td>
                
                <td>
                  <%= link_to 'Editar', edit_student_path(student), class: "btn btn-sm btn-primary" %>
                </td>
              </tr>
              <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  
  <br>

</div>
