<div class="container pb-4">
  <h2 class="mt-4">Backoffice do Coordenador</h2>
  <hr class="divider">

  <div class="card">
    <div class="card-body">
      <p class="m-0">
         Criamos essa área em nosso site com o intuito de facilitar edições pelo coordenador.
         Abaixo se encontram todas as possíveis opções de edição.
      </p>
    </div>
  </div>

  <hr class="divider">

  <div class="row justify-content-center">
    <%= link_to coordinators_infos_path, class: "btn btn-lg btn-info p-3 m-1" do %>
      Informações pessoais&nbsp;
      <%= fa_icon "user" %>
    <% end %>
  </div>
</div>