
<div class="container-fluid">
  <%= render "header" %>
  <div class="header">
      <div class="container " >
          <div class="row">
              <div class="col-md-12 text-center">
                  <h1 class="pd-largex-t pd-medium-b mg-none text-white">
                      <strong>
                          NÃO PERCA TEMPO E GARANTA SEU LUGAR NA FILA PARA ATENDIMENTO COM OS COORDENADORES
                        
                      </strong>
                  </h1>
                  <br>
                  <a class="btn btn-danger" href="#" style="font-size:16px; word-wrap:break-word;">
                        Entrar na fila
                        <span class="fa fa-search" style="font-size:1.5em;color:white;"></span>
                  </a>
                  <br><br><br>
    
              </div>
              
          </div>
      </div>
    </div>
    <div class="jobs">
      <div class="container">
          <div class="row">
              <div class="col-md-6 pd-largex-t pd-largex-b todas-vagas">
                  <h4>Últimas Notícias</h4>
                  <br>
                  <a href="vaga.html" class="link-vaga">
                      <div class="item col-md-12">
                          <div class="col-md-2 text-center">
                              <img src="../../../assets/images/no-foto.png" class="company-logo" alt="Nome da Empresa">
                          </div>
                          <div class="col-md-7">
                              <h5><strong>Bolsonaro</strong></h5>
                              <h5 class="text-gray"><strong>Engesprop Engenharia LTDA</strong></h5>
                          </div>
                      </div>
                  </a>
                  <a href="vaga.html" class="link-vaga">
                      <div class="item col-md-12">
                          <div class="col-md-2 text-center">
                              <img src="../../../assets/images/no-foto.png" class="company-logo" alt="Nome da Empresa">
                          </div>
                          <div class="col-md-7">
                              <h5><strong>Bolsonaro</strong></h5>
                              <h5 class="text-gray"><strong>Engesprop Engenharia LTDA</strong></h5>
                          </div>
                      </div>
                  </a>
                  <a href="vaga.html" class="link-vaga">
                      <div class="item col-md-12">
                          <div class="col-md-2 text-center">
                              <img src="../../../assets/images/no-foto.png" class="company-logo" alt="Nome da Empresa">
                          </div>
                          <div class="col-md-7">
                              <h5><strong>Bolsonaro</strong></h5>
                              <h5 class="text-gray"><strong>Engesprop Engenharia LTDA</strong></h5>
                          </div>
                      </div>
                  </a>
                  <div class="mg-medium-v text-center loading loading-all">
                      <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                  </div>
                  <button class="btn btn-block btn-primary carregar-mais">Carregar mais noticias</button>
              </div>
              <div class="col-md-6 pd-largex-t vagas-ti">
                  <h4>Últimas Notícias</h4>
                  <br>
                  <a href="vaga.html" class="link-vaga">
                      <div class="item col-md-12">
                          <div class="col-md-2 text-center">
                              <img src="../../../assets/images/no-foto.png" class="company-logo" alt="Nome da Empresa">
                          </div>
                          <div class="col-md-7">
                              <h5><strong>Haddad</strong></h5>
                              <h5 class="text-gray"><strong>Engesprop Engenharia LTDA</strong></h5>
                          </div>
                      </div>
                  </a>
                  <a href="vaga.html" class="link-vaga">
                      <div class="item col-md-12">
                          <div class="col-md-2 text-center">
                              <img src="../../../assets/images/no-foto.png" class="company-logo" alt="Nome da Empresa">
                          </div>
                          <div class="col-md-7">
                              <h5><strong>Haddad</strong></h5>
                              <h5 class="text-gray"><strong>Engesprop Engenharia LTDA</strong></h5>
                          </div>
                      </div>
                  </a>
                  <a href="vaga.html" class="link-vaga">
                      <div class="item col-md-12">
                          <div class="col-md-2 text-center">
                              <img src="../../../assets/images/no-foto.png" class="company-logo" alt="Nome da Empresa">
                          </div>
                          <div class="col-md-7">
                              <h5><strong>Haddad</strong></h5>
                              <h5 class="text-gray"><strong>Engesprop Engenharia LTDA</strong></h5>
                          </div>
                      </div>
                  </a>
                  <div class="mg-medium-v text-center loading loading-ti">
                      <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                  </div>
                  <button class="btn btn-block btn-success carregar-mais">Carregar mais noticias</button>
              </div>
          </div>
      </div>
    </div>
    <div class="info pd-largex-v overflow-fix ">
      <div class="container">
          <div class="row">
              <div class="col-md-12 text-center">
                <h1>SOBRE</h1>
                <p>O sistema se resume em faciltar tanta o aluno quanto o coordenador com relação ao atendimento durante o período de matrículas. Nele será possível que o aluno, ao se autenticar, possa entrar em uma fila para atendimento, em que essa será automatizada visando priorizar a ordem pedida pela universidade, como: Aluno em condição, Aluno com atendimento especial, entre outros.</p>
                  
              </div>
          </div>
      </div>
    </div>
    <%=render "footer"%>
    <script type="text/javascript" src="js/move.js"></script>
    <script type="text/javascript">
      $('.carregar-mais').click(function() {
          var item;
          if ($(this).parent().hasClass('vagas-ti')) {
              item = '.loading-ti';
          } else {
              item = '.loading';
          }
          move(item)
              .set('opacity', '1')
              .duration('3s')
              .end(function() {
                  move(item)
                      .set('opacity', '0')
                      .end();
              });
      });
    </script>
</div>