<h1>Serviços</h1>

<h5> Serviços fornecedios para alunos:</h5>
<ul>
	<li>Preenchimento Formulário de Concessão de Créditos</li>
	<li>Ver disciplinas</li>
	<li>Ver informações de antedimento do coordenador</li>
	<li>Criar solicitação de atendimento para o coordenador</li>
</ul>

<h5> Serviços fornececidos para coordenadores:</h5>
<ul>
	<li>Visualizar requisições de atendimento porprioridades</li>
	<li>Responder requisições de atendimento</li>
	<li>Divulgar horários de atendimentos</li>
	<li>Criar avisos gerais</li>
</ul>
