<div class="container pb-4">
  <h2 class="mt-4">Novo Formulário de Concessão de Crédito</h2>
  <hr class="divider">

  <div class="card">
    <div class="card-body">
      <%= render "form" %>
    </div>
  </div>
</div>