<p id="notice"><%= notice %></p>

<div class="container pb-4 arddada">
  <h2 class="mt-4">Atendimento</h2>
  <hr class="divider">
  <div class="row">
    <div class="offset-md-6 col-md-6 form-group row py-2">
      <label for="priority_filter" class="col-form-label">Filtrar por prioridade: </label>
      <div class="col-sm-8">
        <%= 
          select_tag(:priority_filter, 
          options_for_select([['Todas','Todas'], ['Em condição','Em condição'],['Normal','Normal'],['Outros', 'Outros']]), 
          {class: "form-control"})
        %> 
      </div>
    </div>
  </div>
  <div class="card row ">
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th>Nome estudante</th>
            <th>Curso estudante</th>
            <th>Comentário</th>
            <th>Prioridade</th>
            <th>Realizado?</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody class="attendances-list">
          <%= render partial: 'attendances_list', attendances: @attendances %>
        </tbody>
        
      </table>
    </div>
  </div>
  
  <br>
  
<%= link_to 'Novo atendimento', new_attendance_request_path %>

</div>
