<header>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active" style="background-image: url('<%= image_path('carousel4.jpg') %>')">
        <div class="carousel-caption d-none d-md-block">
          <h3>Seu atendimento automatizado!</h3>
          <p>Evite filas e disperdicio de tempo na tentativa de atendimento com o coordenador. Encontre informações necessárias para seu tipo de atendimento aqui no sistema.</p>
        </div>
      </div>
      <!-- Slide Two - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('<%= image_path('carousel5.jpg') %>')">
        <div class="carousel-caption d-none d-md-block">
          <h3>Fique por dentro das informações.</h3>
          <p>Aqui você encontra as informações e links úteis para esclarecimento da suas dúvida e necessidades.</p>
        </div>
      </div>
      <!-- Slide Three - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image:url('<%= image_path('carousel3.jpg') %>')">
        <div class="carousel-caption d-none d-md-block">
          <h3>Crie um pedido de atendimento para o coordenador.</h3>
          <p>Agora ficou mais fácil elaborar seu atendimento com o coordenador através dos formulários de atendimento para diversos casos.</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</header>