<footer class="py-5" style="background-color: #37485A;">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Matrícula Coordenador 2018</p>
  </div>
  <!-- /.container -->
</footer>